# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse / IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.project
.classpath
.settings/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Spring Boot specific
application-*.yml
application-*.properties
.env
src/main/resources/application.properties


# Backup files
*.swp
*.bak
*.tmp
*.orig
